$greenColour: #A7FF2D;
$greyColour: #636363;
$darkColour: #212121;

ngx-dropzone-label{
    padding: 10px;
}

ngx-dropzone{
    width: 30%;
    height: 250px;
    margin: auto;
    background-color: $greyColour;
    color: $greenColour;
    border: $greenColour 1px dashed;
    justify-content: center;
}

::ng-deep ngx-dropzone-preview {
    max-width: 100% !important; 
    max-height: 100% !important;
    background-color: $greenColour !important;
    color: $darkColour;
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
	border-color: $greenColour !important;
}

::ng-deep .mat-radio-inner-circle{
    border-color: $greenColour !important;
}

.expenseTypeSelection{
    margin: auto;
    color: $greenColour;
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
}

#claim-type-div{
    display: flex;
    justify-content: center;
    align-items: center;
}