.drawing{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: block;
    background-color: #3a3a3a;
}

.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #212121;
}

.example-sidenav
{
    display: flex;
    -ms-flex-align: center;
    background: #212121;
    // background: red;
    color: #636363;
} 

mat-icon:hover{
    color: #A7FF2D;  //will have to have a way to show which section we are currently in so may need to change hover color
}

mat-icon{
    color: #636363;
}

.mat-icon{
    font-size: 30px;
}

.nav-button{
    background-color: #212121;
    border-style: none; 
    display: block;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-button-top{
    display: inline;
    background-color: #212121;
    border-style: none; 
    padding-top: 10px;
}

.nav-button-bottom{
    background-color: #212121;
    border-style: none; 
    position: absolute;
    bottom:0;
    display: block;
    margin: auto;
    left:10px;
}

#sidetab{
    width:400px;
    height:100%;
    z-index: 10;
    background-color: #3E3D3D;   
    text-align: center;
}

#sidetab>h1{

    color:#A7FF2D;
    font-family: 'Open Sans', sans-serif;
    padding-left: 15px;
    font-weight: bold;
    display: inline-block;
}

#sidetab > button{
    color:#A7FF2D;
    background-color: #3E3D3D;
    border-style: none; 
    display: inline-block;
    padding-left: 80px;
    padding-top: 10px;
}

#sidetab > button > mat-icon{
    color:#A7FF2D;
}

.tabBlock{
    margin-top:10px;
    margin-bottom: 10px;
    width: 350px;
    height: 100px;
    background-color: #212121;
    display: inline-block;
    border-radius: 10px;
    text-align: left;
    filter: drop-shadow(0 0.75rem 0.75rem #212121)
}

.tabBlock > h2{ 
    position: relative;
    top: 0.5em;
    color:#A7FF2D;
    padding-left:10px;
}

.tabBlock > p{
    color: #6C6C6C;
    padding-left: 10px;
    font-size: 1.2em;
} 

.tabBlock > .dateTime{
    position: absolute;
    font-size: 0.8em;
    padding-right: 10px;
    bottom: 0;
    right: 0;
   
}


.tabBlockSelected{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 350px;
    height: 100px;
    background-color: #636363;
    display: inline-block;
    border-radius: 10px;
    text-align: left;
    filter: drop-shadow(0 0.5rem 0.7rem #636363)
    
}

.tabBlockSelected > h2{ 
    position: relative;
    top: 0.5em;
    color:#A7FF2D;
    padding-left:10px;
}

.tabBlockSelected > p{
    color: #FFFFFF;
    padding-left: 10px;
    font-size: 1.2em;
} 

.tabBlockSelected > .dateTime{
    position: absolute;
    font-size: 0.8em;
    padding-right: 10px;
    bottom: 0;
    right: 0;
}





/* -- Loading thingy --*/
// .loading-dot {
//     border-radius:100%;
//     height:10px;
//     width:10px;
//     background-color: #ffffff;
//     position:absolute;
//     left:0;
//     right:0;
//     margin:auto;
//     top:0;
//     bottom:0;
//     box-shadow: 0px 40px 0px 0px #ffffff,0px -40px 0px 0px #ffffff,40px 0px 0px 0px #ffffff,-40px 0px 0px 0px #ffffff,
//     40px 40px 0px 0px #ffffff,-40px -40px 0px 0px #ffffff,40px -40px 0px 0px #ffffff,-40px 40px 0px 0px #ffffff;
//     -webkit-animation: load 3s infinite linear;
//     -moz-animation: load 3s infinite linear;
//     -o-animation: load 3s infinite linear;
//     animation:load 3s infinite linear;
// }


// @-webkit-keyframes load {
//   0%   {
//     -webkit-transform: translate(0px,0px),rotate(0deg); 
//     box-shadow: 0px 40px 0px 0px #ffffff,0px -40px 0px 0px #ffffff,40px 0px 0px 0px #ffffff,-40px 0px 0px 0px #ffffff,
//     40px 40px 0px 0px #ffffff,-40px -40px 0px 0px #ffffff,40px -40px 0px 0px #ffffff,-40px 40px 0px 0px #ffffff;
//   }

//   25%{
//     box-shadow: 0px 40px 0px 0px #ffffff,0px -40px 0px 0px #ffffff,40px 0px 0px 0px #ffffff,-40px 0px 0px 0px #ffffff,
//     -40px -40px 0px 0px #ffffff,40px 40px 0px 0px #ffffff,-40px 40px 0px 0px #ffffff,40px -40px 0px 0px #ffffff;
//   }

//   50%{
//     box-shadow: 0px -40px 0px 0px #ffffff,0px 40px 0px 0px #ffffff,-40px 0px 0px 0px #ffffff,40px 0px 0px 0px #ffffff,
//     -40px -40px 0px 0px #ffffff,40px 40px 0px 0px #ffffff,-40px 40px 0px 0px #ffffff,40px -40px 0px 0px #ffffff;
//   }

//   70%{
//     box-shadow: 0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,
//     0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff;
//   }

//   75%{
//     box-shadow: 0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,
//     0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff;
//     height:10px;
//     width:10px;
//   }

//   80%{
//     -webkit-transform: translate(0px,0px) rotate(360deg); 
//     box-shadow: 0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,
//     0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff;
//     background-color: #ffffff;
//     height:40px;
//     width:40px;
//   }

//   85%{
//     -webkit-transform: translate(0px,0px) rotate(360deg);
//     box-shadow: 0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,
//     0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff;
//     background-color: #ffffff; 
//     height:40px;
//     width:40px;
//   }

//   90%{
//     -webkit-transform: translate(0px,0px) rotate(360deg); 
//     box-shadow: 0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,
//     0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff;
//     background-color: #ffffff; 
//     height:10px;
//     width:10px;
//   }

//   95%{
//     box-shadow: 0px 40px 0px 0px #ffffff,0px -40px 0px 0px #ffffff,40px 0px 0px 0px #ffffff,-40px 0px 0px 0px #ffffff,
//     40px 40px 0px 0px #ffffff,-40px -40px 0px 0px #ffffff,40px -40px 0px 0px #ffffff,-40px 40px 0px 0px #ffffff;
//   }

//   100%{
//     -webkit-transform: rotate(360deg);
//     box-shadow: 0px 40px 0px 0px #ffffff,0px -40px 0px 0px #ffffff,40px 0px 0px 0px #ffffff,-40px 0px 0px 0px #ffffff,
//     40px 40px 0px 0px #ffffff,-40px -40px 0px 0px #ffffff,40px -40px 0px 0px #ffffff,-40px 40px 0px 0px #ffffff;
//   }

// }

// @-moz-keyframes load {
//   0%   {
//     -moz-transform: translate(0px,0px),rotate(0deg); 
//     box-shadow: 0px 40px 0px 0px #ffffff,0px -40px 0px 0px #ffffff,40px 0px 0px 0px #ffffff,-40px 0px 0px 0px #ffffff,
//     40px 40px 0px 0px #ffffff,-40px -40px 0px 0px #ffffff,40px -40px 0px 0px #ffffff,-40px 40px 0px 0px #ffffff;
//   }

//   25%{
//     box-shadow: 0px 40px 0px 0px #ffffff,0px -40px 0px 0px #ffffff,40px 0px 0px 0px #ffffff,-40px 0px 0px 0px #ffffff,
//     -40px -40px 0px 0px #ffffff,40px 40px 0px 0px #ffffff,-40px 40px 0px 0px #ffffff,40px -40px 0px 0px #ffffff;
//   }

//   50%{
//     box-shadow: 0px -40px 0px 0px #ffffff,0px 40px 0px 0px #ffffff,-40px 0px 0px 0px #ffffff,40px 0px 0px 0px #ffffff,
//     -40px -40px 0px 0px #ffffff,40px 40px 0px 0px #ffffff,-40px 40px 0px 0px #ffffff,40px -40px 0px 0px #ffffff;
//   }

//   70%{
//     box-shadow: 0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,
//     0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff;
//   }

//   75%{
//     box-shadow: 0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,
//     0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff;
//     height:10px;
//     width:10px;
//   }

//   80%{
//     -moz-transform: translate(0px,0px) rotate(360deg); 
//     box-shadow: 0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,
//     0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff;
//     background-color: #ffffff;
//     height:40px;
//     width:40px;
//   }

//   85%{
//     -moz-transform: translate(0px,0px) rotate(360deg);
//     box-shadow: 0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,
//     0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff;
//     background-color: #ffffff; 
//     height:40px;
//     width:40px;
//   }

//   90%{
//     -moz-transform: translate(0px,0px) rotate(360deg); 
//     box-shadow: 0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,
//     0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff;
//     background-color: #ffffff; 
//     height:10px;
//     width:10px;
//   }

//   95%{
//     box-shadow: 0px 40px 0px 0px #ffffff,0px -40px 0px 0px #ffffff,40px 0px 0px 0px #ffffff,-40px 0px 0px 0px #ffffff,
//     40px 40px 0px 0px #ffffff,-40px -40px 0px 0px #ffffff,40px -40px 0px 0px #ffffff,-40px 40px 0px 0px #ffffff;
//   }

//   100%{
//     -moz-transform: rotate(360deg);
//     box-shadow: 0px 40px 0px 0px #ffffff,0px -40px 0px 0px #ffffff,40px 0px 0px 0px #ffffff,-40px 0px 0px 0px #ffffff,
//     40px 40px 0px 0px #ffffff,-40px -40px 0px 0px #ffffff,40px -40px 0px 0px #ffffff,-40px 40px 0px 0px #ffffff;
//   }

// }

// @keyframes load {
//   0%   {
//     transform: translate(0px,0px),rotate(0deg); 
//     box-shadow: 0px 40px 0px 0px #ffffff,0px -40px 0px 0px #ffffff,40px 0px 0px 0px #ffffff,-40px 0px 0px 0px #ffffff,
//     40px 40px 0px 0px #ffffff,-40px -40px 0px 0px #ffffff,40px -40px 0px 0px #ffffff,-40px 40px 0px 0px #ffffff;
//   }

//   25%{
//     box-shadow: 0px 40px 0px 0px #ffffff,0px -40px 0px 0px #ffffff,40px 0px 0px 0px #ffffff,-40px 0px 0px 0px #ffffff,
//     -40px -40px 0px 0px #ffffff,40px 40px 0px 0px #ffffff,-40px 40px 0px 0px #ffffff,40px -40px 0px 0px #ffffff;
//   }

//   50%{
//     box-shadow: 0px -40px 0px 0px #ffffff,0px 40px 0px 0px #ffffff,-40px 0px 0px 0px #ffffff,40px 0px 0px 0px #ffffff,
//     -40px -40px 0px 0px #ffffff,40px 40px 0px 0px #ffffff,-40px 40px 0px 0px #ffffff,40px -40px 0px 0px #ffffff;
//   }

//   70%{
//     box-shadow: 0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,
//     0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff;
//   }

//   75%{
//     box-shadow: 0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,
//     0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff;
//     height:10px;
//     width:10px;
//   }

//   80%{
//     transform: translate(0px,0px) rotate(360deg); 
//     box-shadow: 0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,
//     0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff;
//     background-color: #ffffff;
//     height:40px;
//     width:40px;
//   }

//   85%{
//     transform: translate(0px,0px) rotate(360deg);
//     box-shadow: 0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,
//     0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff;
//     background-color: #ffffff; 
//     height:40px;
//     width:40px;
//   }

//   90%{
//     transform: translate(0px,0px) rotate(360deg); 
//     box-shadow: 0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,
//     0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff;
//     background-color: #ffffff; 
//     height:10px;
//     width:10px;
//   }

//   95%{
//     box-shadow: 0px 40px 0px 0px #ffffff,0px -40px 0px 0px #ffffff,40px 0px 0px 0px #ffffff,-40px 0px 0px 0px #ffffff,
//     40px 40px 0px 0px #ffffff,-40px -40px 0px 0px #ffffff,40px -40px 0px 0px #ffffff,-40px 40px 0px 0px #ffffff;
//   }

//   100%{
//     transform: rotate(360deg);
//     box-shadow: 0px 40px 0px 0px #ffffff,0px -40px 0px 0px #ffffff,40px 0px 0px 0px #ffffff,-40px 0px 0px 0px #ffffff,
//     40px 40px 0px 0px #ffffff,-40px -40px 0px 0px #ffffff,40px -40px 0px 0px #ffffff,-40px 40px 0px 0px #ffffff;
//   }

// }
// @-o-keyframes load {
//   0%   {
//     -o-transforms: translate(0px,0px),rotate(0deg); 
//     box-shadow: 0px 40px 0px 0px #ffffff,0px -40px 0px 0px #ffffff,40px 0px 0px 0px #ffffff,-40px 0px 0px 0px #ffffff,
//     40px 40px 0px 0px #ffffff,-40px -40px 0px 0px #ffffff,40px -40px 0px 0px #ffffff,-40px 40px 0px 0px #ffffff;
//   }

//   25%{
//     box-shadow: 0px 40px 0px 0px #ffffff,0px -40px 0px 0px #ffffff,40px 0px 0px 0px #ffffff,-40px 0px 0px 0px #ffffff,
//     -40px -40px 0px 0px #ffffff,40px 40px 0px 0px #ffffff,-40px 40px 0px 0px #ffffff,40px -40px 0px 0px #ffffff;
//   }

//   50%{
//     box-shadow: 0px -40px 0px 0px #ffffff,0px 40px 0px 0px #ffffff,-40px 0px 0px 0px #ffffff,40px 0px 0px 0px #ffffff,
//     -40px -40px 0px 0px #ffffff,40px 40px 0px 0px #ffffff,-40px 40px 0px 0px #ffffff,40px -40px 0px 0px #ffffff;
//   }

//   70%{
//     box-shadow: 0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,
//     0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff;
//   }

//   75%{
//     box-shadow: 0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,
//     0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff;
//     height:10px;
//     width:10px;
//   }

//   80%{
//     -o-transforms: translate(0px,0px) rotate(360deg); 
//     box-shadow: 0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,
//     0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff;
//     background-color: #ffffff;
//     height:40px;
//     width:40px;
//   }

//   85%{
//     -o-transforms: translate(0px,0px) rotate(360deg);
//     box-shadow: 0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,
//     0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff;
//     background-color: #ffffff; 
//     height:40px;
//     width:40px;
//   }

//   90%{
//     -o-transforms: translate(0px,0px) rotate(360deg); 
//     box-shadow: 0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,
//     0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff,0px 0px 0px 0px #ffffff;
//     background-color: #ffffff; 
//     height:10px;
//     width:10px;
//   }

//   95%{
//     box-shadow: 0px 40px 0px 0px #ffffff,0px -40px 0px 0px #ffffff,40px 0px 0px 0px #ffffff,-40px 0px 0px 0px #ffffff,
//     40px 40px 0px 0px #ffffff,-40px -40px 0px 0px #ffffff,40px -40px 0px 0px #ffffff,-40px 40px 0px 0px #ffffff;
//   }

//   100%{
//     -o-transforms: rotate(360deg);
//     box-shadow: 0px 40px 0px 0px #ffffff,0px -40px 0px 0px #ffffff,40px 0px 0px 0px #ffffff,-40px 0px 0px 0px #ffffff,
//     40px 40px 0px 0px #ffffff,-40px -40px 0px 0px #ffffff,40px -40px 0px 0px #ffffff,-40px 40px 0px 0px #ffffff;
//   }

// }
