<div class="form-div">
    <h1 id="review-claims-heading">Review Claim</h1>
  <form class="form-form">
    <!-- [formGroup]="userAdd" (ngSubmit)="AddUser()" -->
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Type of claim</mat-label>
      <mat-select>
        <mat-option value="travel"> Travel </mat-option>
        <mat-option value="entertainment"> Entertainment </mat-option>
        <mat-option value="data&cellphone"> Data / Cellphone </mat-option>
        <mat-option value="misc"> Miscellaneous </mat-option>
      </mat-select>
      <mat-hint>Select your claim category</mat-hint>
    </mat-form-field>
    <br />
    <br />
    <mat-form-field appearance="fill" class="form-field">
      <mat-label> Claim Description </mat-label>
      <textarea matInput></textarea>
      <mat-hint>Input a description of your claim</mat-hint>
    </mat-form-field>
    <br />
    <br />
    <mat-form-field appearance="fill" class="form-field">
      <mat-label> Vendor Name </mat-label>
      <input matInput placeholder="Uber" />
      <mat-hint>Name of vendor</mat-hint>
    </mat-form-field>
    <br />
    <br />
    <mat-form-field appearance="fill" class="form-field">
      <mat-label> Total: </mat-label>
      <input matInput placeholder="230 ZAR" />
      <mat-hint>Total amount of claim</mat-hint>
    </mat-form-field>
    <br />
    <br />
    <mat-form-field appearance="fill" class="form-field">
      <mat-label> 2022/06/11 </mat-label>
      <input matInput placeholder="2022/06/11" />
      <mat-hint>Date of claim</mat-hint>
    </mat-form-field>
    <br />
    <br />
    <mat-form-field appearance="fill" class="form-field">
      <mat-label> Notes on claim </mat-label>
      <textarea matInput></textarea>
      <mat-hint>Input any additional notes about your claim</mat-hint>
    </mat-form-field>
    <br />
    <br />
  </form>
</div>
