<div id="top-header"><h1>{{email}}</h1><button class="nav-button-bottom" id="signout" (click)="authenticator.signOut()" style="color:blue">SIGN OUT</button>
</div>
<div id="main">
    <div class="heading">
    <h2>Settings</h2>
    </div>
    <form [formGroup]="userForm" >
       <!-- <div *ngIf="errormsg" class="alert alert-warning alert-dismissable fade show" role="alert">
            <strong>{{errormsg}}</strong>
        </div>
        <div *ngIf="successmsg&&!errormsg" class="alert alert-success alert-dismissable fade show" role="alert">
            <strong>{{successmsg}}</strong>
        </div>-->
        <div>
            <input type="text" class="form-control" formControlName="email" >
        </div>

        <div>
            <input type="checkbox" class="form-control" formControlName="useDiscord" >
        </div>

        <div>
            <input type="text" class="form-control" formControlName="discordID" >
        </div>

        <div>
            <input type="checkbox" class="form-control" formControlName="useRyver">
        </div>
        <div>
            <input type="text" class="form-control" formControlName="ryverID" >
        </div>
    </form>
        
</div>


<div id="homescreenImage1"><img src="../../../../assets/images/bolder.svg"></div>
<div id="homescreenImage2"><img src="../../../../assets/images/tree-bolder.svg"></div> 
<div id="homescreenImage3"><img src="../../../../assets/images/retrorabbit_pillar.svg"></div>
