<div id="home-page">
        <div id="homeMiddle">
                
            <h1 id="homePageHeader">JUMP DOWN THE RABBITHOLE</h1>
            
            <div *ngIf="authenticator.authStatus === 'configuring'">
                <h1 style="color: white;">LOADING...</h1>
            </div> 
            <div>
                <app-auth></app-auth>
            </div>
    
        </div>
    
        <div id="homescreenImage1"><img src="../../../../assets/images/bolder.svg"></div>
        <div id="homescreenImage2"><img src="../../../../assets/images/tree-bolder.svg"></div> 
        <div id="homescreenImage3"><img src="../../../../assets/images/retrorabbit_pillar.svg"></div>
</div>
