$greyColour: #212121;
$greenColour: #A7FF2D;

table{
    width: 100vw;
    height: 20vh;
    background-color: transparent;
}

td tr{
    color: $greenColour;
}

mat-paginator{
    background-color: transparent;
}
