<div id="home-page">
    <div id="homeMiddle">
            
        <h1 id="homePageHeader">JUMP DOWN THE RABBITHOLE</h1>
        
        <!-- <button mat-flat-button color="#A7FF2D" class="button-hover">Login</button> -->
        <app-auth></app-auth>

    </div>

    <div id="homescreenImage1"><img src="../../../../assets/images/bolder.svg"></div>
    <div id="homescreenImage2"><img src="../../../../assets/images/tree-bolder.svg"></div> 
    <div id="homescreenImage3"><img src="../../../../assets/images/retrorabbit_pillar.svg"></div>
</div>
