#backgroundRocks{
    z-index: -1000;
    #spaceRock001{
        position: absolute;
        z-index: 0;
        height: 70px;
        width: 70px;
        background-size: cover;
        background-repeat: no-repeat;
        left: 8%;
        top: 55%;
        -webkit-animation: mover 1.7s infinite  alternate;
        animation: mover 1.8s infinite  alternate;
    }
    #spaceRock002{
        position: absolute;
        z-index: 0;
        height: 70px;
        width: 70px;
        background-size: cover;
        background-repeat: no-repeat;
        left: 14%;
        top: 70%;
        -webkit-animation: mover 2.2s infinite  alternate;
        animation: mover 1.4s infinite  alternate;
    }
    #spaceRock003{
        position: absolute;
        z-index: 0;
        height: 70px;
        width: 70px;
        background-size: cover;
        background-repeat: no-repeat;
        left: 80%;
        top: 60%;
        -webkit-animation: mover 1.2s infinite  alternate;
        animation: mover 1.7s infinite  alternate;
    }
    #spaceRock004{
        position: absolute;
        z-index: 0;
        height: 70px;
        width: 70px;
        background-size: cover;
        background-repeat: no-repeat;
        left: 68%;
        top: 81%;
        -webkit-animation: mover 1.8s infinite  alternate;
        animation: mover 1.4s infinite  alternate;
    }
    #spaceRock005{
        position: absolute;
        z-index: 0;
        height: 70px;
        width: 70px;
        background-size: cover;
        background-repeat: no-repeat;
        left: 20%;
        top: 78%;
        -webkit-animation: mover 1.8s infinite  alternate;
        animation: mover 1.3s infinite  alternate;
    }
    #spaceRock006{
        position: absolute;
        z-index: 0;
        height: 70px;
        width: 70px;
        background-size: cover;
        background-repeat: no-repeat;
        left: 5%;
        top: 10%;
        -webkit-animation: mover 1.8s infinite  alternate;
        animation: mover 1.2s infinite  alternate;
    }
    #spaceRock007{
        position: absolute;
        z-index: 0;
        height: 70px;
        width: 70px;
        background-size: cover;
        background-repeat: no-repeat;
        left: 91%;
        top: 63%;
        -webkit-animation: mover 1.7s infinite  alternate;
        animation: mover 1.3s infinite  alternate;
    }
    #spaceRock008{
        position: absolute;
        z-index: 0;
        height: 70px;
        width: 70px;
        background-size: cover;
        background-repeat: no-repeat;
        left: 76%;
        top: 4%;
        -webkit-animation: mover 1.3s infinite  alternate;
        animation: mover 1.4s infinite  alternate;
    }
    #spaceRock009{
        position: absolute;
        z-index: 0;
        height: 70px;
        width: 70px;
        background-size: cover;
        background-repeat: no-repeat;
        left: 84%;
        top: 32%;
        -webkit-animation: mover 0.9s infinite  alternate;
        animation: mover 2s infinite  alternate;
    }
    /*
        KEY FRAME MOVEMENTS 
    */
    @-webkit-keyframes mover {
        0% { 
            transform: translateY(0); 
        }
        100% { 
            transform: translateY(-20px); 
        }
    }
    @keyframes mover {
        0% { 
            transform: translateY(0); 
        }
        100% { 
            transform: translateY(-20px); 
        }
    }
}