<div id="MessageBoxMain">

    <div id="MessageBoxBackground">
        <div id="MessageBoxTopBar">
            <h2>Name of person(s)</h2>
        </div>

        <!-- if and else here. No message to display error message if there are no sent messages else display messages -->

        <!-- if -->

        <!-- <div id="NoMessageError"><p>No message to display</p></div> -->

        <!-- else -->

<!-- 			<div id="MessageBubble">
            <p>Hay John, This is a normal size message.</p>
            <span id="MessageTimestamp">2022/03/27 11:30 am</span>
        </div>
        <br> -->

        <div id="MessageBubble">
            <p>Hay John, This is a normal size message.</p>
            <span id="MessageTimestamp">2022/03/27 11:30 am</span>
        </div>
        <br>



        <div id="MessageBubble">
            <p>Hay John, this is more of a paragraph. I hope you don't get annoyed by all this typing. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <span id="MessageTimestamp">2022/03/27 11:30 am</span>
        </div>
        <br>

        <div id="MessageBubble">
            <p>Hay John. Tell your Wife is said hello. hehe</p>
            <span id="MessageTimestamp">2022/03/27 11:30 am</span>
        </div>
        <br>

        <div id="MessageBubble">
            <p>this is the most recent message John</p>
            <span id="MessageTimestamp">2022/03/27 11:30 am</span>
        </div>	
        <br>		
    </div>

    
    <form id="MessageForm">	
        
        
        <input type="text" name="MessageSearchInput" id="MessageSearchInput" onfocus="recolorInput(this)" placeholder="Search for people to message"/>
        
        <textarea id="messageTextbox" name="messageTextbox" rows="4" cols="50" placeholder="Type a new message..."  onfocus="recolorInput(this)"></textarea>
        <button class="send-button material-icons">send</button>
        <!-- <button class="attach-button"><p><mat-icon>attach_file</mat-icon></p></button> -->
        <div id="MessageOptions">
           <span class="attach-button material-icons">attach_file</span>
           <span class="broadcast-button material-icons">podcasts</span>
        </div>
        
    </form>
    
    
</div>
