
        <div id="MessageBoxMain">
            <div id="chatBoxLeft">
                <div id="chatBoxHeading">Contacts</div>
                <input type="text" name="MessageSearchInput" #receiverName id="MessageSearchInput" #MessageSearchInput placeholder="Search for people to message"/>                
                    <mat-button-toggle-group [vertical]="true" class="mat-elevation-z0" #toggleBtn="matButtonToggleGroup">
                        <mat-button-toggle class="chatBoxContact" *ngFor="let item of contacts" [value]="item.email" value="SelectedContact" (click)="changeDisplayedUser(item.email)">
                            <h1>{{ item.email }}</h1> 
                            
                          </mat-button-toggle>
                    </mat-button-toggle-group>
            </div>

            <div id="MessageBoxBackground">
                <div id="MessageBoxTopBar">
                    <h2>{{toggleBtn.value}}</h2>
                </div>
        
                <ng-container>


                    <!-- <app-message-box message="{{}}"></app-message-box> -->

                </ng-container>
                
     
            </div>        
            
            <div id="MessageForm">	
                    
                
                <textarea #messageTextbox id="messageTextbox" name="messageTextbox" rows="4" cols="50" placeholder="Type a new message..." ></textarea>
                <button id="send" class="send-button material-icons" (click)="messageClickEvent(MessageSearchInput.value, messageTextbox.value)" >send</button>
                <div id="MessageOptions">
                <button class="attach-button material-icons" id="attach">attach_file</button>
                </div>
                
            </div>
        
            
        </div>