$greenColour: #A7FF2D;
$backgroundGrey: #212121;
#chatBoxLeft
{
    width: 22%;  
    height: 100vh;
    background-color: #3E3D3D;
    position: absolute;
    border-radius: 5px;
    // margin: 2%;
    box-shadow: 3px 3px 6px #3E3D3D;
    // overflow: auto;
    text-align: center;
}


#chatBoxLeft #chatBoxHeading{
    color: $greenColour;
    font-size: 30px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 25px;
    float: left;
}


#chatBoxLeft #MessageSearchInput
{
    color: #EDEDED;
    font-family: 'Open Sans', sans-serif;
    border-radius: 30px;
    background: #3E3D3D;
    border-color: $backgroundGrey;
    padding: 20px; 

    display: block;
    width: 80%;
    height: 5px;    
    font-size: 12pt;
    border: 0;
    margin-top: 15px; 
    margin-bottom: 10px; 

    outline: 2px solid #636363;

    margin-left: auto;
    margin-right: auto;
    
}

#chatBoxLeft #MessageSearchInput:focus 
{
      outline: 2px solid $greenColour;
      transition: outline 0.1s;
      
}


#chatBoxLeft .chatBoxContactSelected
{
    background-color: #636363;
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    margin-top:15px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 3px 3px 6px #636363;
    display: inline-block;
    position: relative;
    height: 8%;   
    h1{
        color: $greenColour;
        font-family: 'Open Sans', sans-serif;
        font-size: 14pt;
        float: left;
    }
    #contactMessageTimestamp{
        color: #EDEDED;
        opacity: 0.8;
        font-family: 'Open Sans', sans-serif;
        font-size: 8pt;
        float: right;
    }

}

#chatBoxLeft .chatBoxContact
{
    background-color: #3E3D3D;
    padding: 10px;
    width: 90vw;
    border-radius: 5px;
    margin-top:15px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 3px 3px 6px $backgroundGrey;
    display: inline-block;
    position: relative;
    height: 8%;   
    // overflow: hidden ;
    h1{
        color: $greenColour;
        font-family: 'Open Sans', sans-serif;
        font-size: 14pt;
        float: left;
    }
    #contactMessageTimestamp{
        color: #EDEDED;
        opacity: 0.8;
        font-family: 'Open Sans', sans-serif;
        font-size: 8pt;
        float: right;
    }

}

//mat button stuff

mat-button-toggle-group {
    box-shadow: none;
    border: none !important;
    width: 100%;
    align-items: center !important;
    height: 80vh !important;
    overflow: auto !important;
  }

  ::ng-deep mat-button-toggle-group{
    outline: none !important;
    border: 0 !important;
  }
  
  mat-button-toggle {
      border: 1px rgba(0,0,0,0) solid !important;
      padding: 0 5px !important;
      z-index: 3 !important;
      width: 80% !important;
      margin-top: 15px !important;
      margin-bottom: 10px !important;
      margin-left: 20px !important;
      margin-right: 20px !important;
    //   padding: 10px !important;
      height: 9% !important;
      box-shadow: 3px 3px 6px $backgroundGrey !important;

      display: inline-block !important;
      position: relative !important;
      #contactMessageTimestamp{
        color: #EDEDED;
        opacity: 0.8;
        font-family: 'Open Sans', sans-serif;
        font-size: 8pt;
        float: right;
    }
  }

  :focus{
    border: 0 !important;
    outline: none !important;
    box-shadow: 0 !important;
  }

  .mat-focus-indicator{
    outline: 0 !important;
    border: 0 !important;
  }

.mat-button-toggle-checked {
    box-shadow: 3px 3px 6px #636363 !important;
    // border: 1px #000 solid !important;
    border-radius: 5px !important;
    background-color: #636363 !important;
    // h1{color: red !important;}
}

mat-button-toggle-group::-webkit-scrollbar {
    width: 0.5em;
  }
   
  mat-button-toggle-group::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  mat-button-toggle-group::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 5px;
  }

#MessageBoxMain #MessageBoxBackground
{
    position: absolute;
    width: 75%;
    height: 55%;
    background-color: #3e3d3d;
    right: 0;
    border-radius: 5px;
    margin: 2%;
    box-shadow: 3px 3px 6px #3e3d3d;
    overflow: auto;
  }
  
  #MessageBoxBackground::-webkit-scrollbar {
    width: 0.5em;
  }
  
  #MessageBoxBackground::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  #MessageBoxBackground::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 5px;
  }
  #MessageBoxMain #MessageBoxBackground #MessageBoxTopBar {
    width: 100%;
    height: 15%;
    border-radius: 5px;
    background-color: #636363;
    position: sticky;
    top: 0;
    z-index: 999;
    border-bottom: 1px #3e3d3d solid;
  }
  
  #MessageBoxMain #MessageBoxBackground #MessageBoxTopBar h2 {
    /*this will actually be avenir later on*/
    font-family: "Open Sans", sans-serif;
    color: #abff4f;
    padding: 20px;
    margin: 0;
    font-size: 20pt;
}

#MessageBoxBackground #NoMessageError 
{
    position: absolute;
    display: flex;
    width: 100%;
    margin: auto;
    height: 40vh;
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    img{
        display: block;
        margin: auto;
        height: auto;
        width: 25%;
    }
}

#MessageBoxBackground #NoMessageError p
{
    color: grey;
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    text-align: center;
    vertical-align: middle;
    // top: 50%;
    // left: 50%;
}

#MessageBoxMain #MessageBoxBackground #MessageBubble
{
    background-color: #636363;
    padding: 10px;
    width: auto;
    border-radius: 5px;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 3px 3px 6px #3e3d3d;
    display: inline-block;
    position: relative;
    height: auto;
  }
  
  #MessageBoxMain #MessageBoxBackground #MessageBubble p {
    color: #ededed;
    font-family: "Open Sans", sans-serif;
    font-size: 12pt;
  }
  
  #MessageBoxMain #MessageBoxBackground #MessageBubble #MessageTimestamp {
    color: #ededed;
    opacity: 0.8;
    font-family: "Open Sans", sans-serif;
    font-size: 8pt;
    float: right;
  }
  
  #MessageSearchInput {
    color: #6c6c6c;
    font-family: "Open Sans", sans-serif;
    border-radius: 30px;
    background: #3e3d3d;
    padding: 20px;
  
    display: block;
    width: 580px;
    height: 5px;
    font-size: 12pt;
    border: 0;
    margin-top: 5px;
    margin-bottom: 10px;
  
    margin-left: auto;
    margin-right: auto;
  }
  
  #MessageSearchInput:focus {
    outline: 2px solid #abff4f;
    transition: outline 0.1s;
  }
  
#messageTextbox
{
    font-family: 'Open Sans', sans-serif;
    display: block;
    border-radius: 5px;
    background: #3E3D3D;
    color: #EDEDED;
    width: 650px;
    font-size: 12pt;
    border: 0;
    outline: 2px;
    margin: 15px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    left: 1.9em;
    // border: 1px solid #CCCCCC !important;
    // height: ;
    // margin-left: auto;
    // margin-right: auto;
    
}

#messageTextbox:focus 
{

    //   outline: 2px solid $greenColour;
    border: 2px solid $greenColour;
      
      box-shadow: 0px 0px 10px $greenColour;
      transition: box-shadow border 0.1s;
      /*transition: 0.5s;*/
      
}



#MessageBoxMain #MessageForm
{
      margin: auto;
      width: calc(80% - 30px);
      position: absolute;
      bottom: 10%;
      overflow: hidden;
      right: 0;	
      text-align: center;
}

#MessageBoxMain #MessageForm #messageTextbox
{
    resize: none;
    display: inline-block;
    margin: auto;
  }
  // #MessageTextbox
  // {
  //     display: inline;
  // }
  
  .send-button {
    background-color: #212121;
    border-style: none;
    display: inline-block;
    margin: 8px;
    position: fixed;
    color: #abff4f;
    font-size: 22pt;
    // bottom: 0;
    transform: rotate(-45deg);
  
    // float: right;
  }
  
  .attach-button {
    background-color: #212121;
    border-style: none;
    display: inline-block;
    margin: 8px;
    position: relative;
    color: #abff4f;
    font-size: 22pt;
    // bottom: 0;
    // left: 0;
    transform: rotate(45deg);
  }
  
  .broadcast-button {
    background-color: #212121;
    border-style: none;
    display: inline-block;
    margin: 8px;
    position: relative;
    color: #abff4f;
    font-size: 22pt;
    // bottom: 0;
    // left: 0;
    // transform: rotate(45deg);
  }
  
  .send-button:hover {
    cursor: pointer;
  }
  
  mat-icon {
    color: #abff4f;
    font-size: 22pt;
  }
  
  #broadcast {
    position: relative;
    right: 9.4em;
  }
  
  #attach {
    position: relative;
    right: 9em;
  }
  
  #send {
    position: relative;
    bottom: 0.25em;
    left: 1em;
  }
  
  ::ng-deep .custom-modalbox {
      mat-dialog-container {
          padding: 2em;
          background-color: #212121;
          border-radius: 1em;
      }
  }