.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #212121;
}

#MessageBoxMain #MessageBoxBackground
{
    position: absolute;
    width: 75%;
    height: 55%;
    background-color: #3E3D3D;
    right: 0;
    border-radius: 5px;
    margin: 2%;
    box-shadow: 3px 3px 6px #3E3D3D;
    overflow: auto;
}

#MessageBoxBackground::-webkit-scrollbar {
  width: 0.5em;
}
 
#MessageBoxBackground::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
#MessageBoxBackground::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 5px;
}
#MessageBoxMain #MessageBoxBackground #MessageBoxTopBar
{
    width: 100%;
    height: 15%;
    border-radius: 5px;
    background-color: #636363;
    position: sticky;
    top: 0;
    z-index: 999;
    border-bottom: 1px #3E3D3D solid;

}

#MessageBoxMain #MessageBoxBackground #MessageBoxTopBar h2
{
    /*this will actually be avenir later on*/
    font-family: 'Open Sans', sans-serif;
    color: #ABFF4F;
    padding: 20px;
    margin: 0;
}

#MessageBoxMain #MessageBoxBackground #NoMessageError 
{
    margin: auto;
    width: 100%;
    text-align: center;
}

#MessageBoxMain #MessageBoxBackground #NoMessageError p
{
    color: #EDEDED;
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
}

#MessageBoxMain #MessageBoxBackground #MessageBubble
{
    background-color: #636363;
    padding: 10px;
    width: auto;
    border-radius: 5px;
    margin-top:15px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 3px 3px 6px #3E3D3D;
      display: inline-block;
      position: relative;
    height: auto;

}

#MessageBoxMain #MessageBoxBackground #MessageBubble p
{
    color: #EDEDED;
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
}

#MessageBoxMain #MessageBoxBackground #MessageBubble #MessageTimestamp
{
    color: #EDEDED;
    opacity: 0.8;
    font-family: 'Open Sans', sans-serif;
    font-size: 8pt;
    float: right;
}


#MessageSearchInput
{
    color: #6C6C6C;
    font-family: 'Open Sans', sans-serif;
    border-radius: 30px;
    background: #3E3D3D;
    padding: 20px; 

    display: block;
    width: 580px;
    height: 5px;    
    font-size: 12pt;
    border: 0;
    margin-top: 5px; 
    margin-bottom: 10px; 

    margin-left: auto;
    margin-right: auto;
    
}

#MessageSearchInput:focus 
{
      outline: 2px solid #ABFF4F;
      transition: outline 0.1s;
      
}

#messageTextbox
{
    font-family: 'Open Sans', sans-serif;
    display: block;
    border-radius: 5px;
    background: #3E3D3D;
    color: #6C6C6C;
    width: 600px;
    font-size: 12pt;
    border: 0;
    outline: 0;
    margin: 5px;
    padding: 10px;
    margin-top: 5px; 
    margin-bottom: 5px; 
    position: relative;
    left: 1.9em;
    // margin-left: auto;
    // margin-right: auto;
    
}

#messageTextbox:focus 
{
      outline: 2px solid white;
      transition: outline 0.1s ease;
      /*transition: 0.5s;*/
      
}

#MessageBoxMain #MessageForm
{
      margin: auto;
      width: calc(80% - 30px);
      position: absolute;
      bottom: 10%;
      overflow: hidden;
      right: 0;	
      text-align: center;
}

#MessageBoxMain #MessageForm #messageTextbox
{
    resize: none;
    display: inline-block;
    margin: auto;
}
// #MessageTextbox
// {
//     display: inline;
// }

.send-button 
{
    background-color: #212121;
    border-style: none;   
    display: inline-block;
    margin: 8px;
    position: fixed;
    color: #ABFF4F;
    font-size: 22pt;
    // bottom: 0;
    transform: rotate(-45deg);
    
    // float: right;
}

.attach-button
{
    background-color: #212121;
    border-style: none;   
    display: inline-block;
    margin: 8px;
    position: relative;
    color: #ABFF4F;
    font-size: 22pt;
    // bottom: 0; 
    // left: 0;
    transform: rotate(45deg);
}

.broadcast-button
{
    background-color: #212121;
    border-style: none;   
    display: inline-block;
    margin: 8px;
    position: relative;
    color: #ABFF4F;
    font-size: 22pt;
    // bottom: 0; 
    // left: 0;
    // transform: rotate(45deg);
}

.send-button:hover
{
    cursor:pointer;
}

mat-icon{
    color: #ABFF4F;
    font-size: 22pt;
}

#broadcast{
    position: relative;
    right:9.4em;
}

#attach{
    position: relative;
    right:9em;
}

#send{
    position: relative;
    bottom: 0.25em;
    left: 1em;
}

.example-sidenav
{
    display: flex;
    -ms-flex-align: center;
    background: #212121;
    // background: red;
    color: #636363;
} 

mat-icon:hover{
    color: #A7FF2D;  //will have to have a way to show which section we are currently in so may need to change hover color
}

mat-icon{
    color: #636363;
}

.mat-icon{
    font-size: 30px;
}

.nav-button{
    background-color: #212121;
    border-style: none; 
    display: block;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-button-top{
    display: inline;
    background-color: #212121;
    border-style: none; 
    padding-top: 10px;
}

.nav-button-bottom{
    background-color: #212121;
    border-style: none; 
    position: absolute;
    bottom:0;
    display: block;
    margin: auto;
    left:10px;
}

#profile{
    padding-bottom: 50px;
}

#sidetab{
    width:400px;
    height:100%;
    z-index: 10;
    background-color: #3E3D3D;   
    text-align: center;
}

#sidetab>h1{

    color:#A7FF2D;
    font-family: 'Open Sans', sans-serif;
    padding-left: 15px;
    font-weight: bold;
    display: inline-block;
}

#sidetab > button{
    color:#A7FF2D;
    background-color: #3E3D3D;
    border-style: none; 
    display: inline-block;
    padding-left: 80px;
    padding-top: 10px;
}

#sidetab > button > mat-icon{
    color:#A7FF2D;
}

.tabBlock{
    margin-top:10px;
    margin-bottom: 10px;
    width: 350px;
    height: 100px;
    background-color: #212121;
    display: inline-block;
    border-radius: 10px;
    text-align: left;
    filter: drop-shadow(0 0.75rem 0.75rem #212121)
}

.tabBlock > h2{ 
    position: relative;
    top: 0.5em;
    color:#A7FF2D;
    padding-left:10px;
}

.tabBlock > p{
    color: #6C6C6C;
    padding-left: 10px;
    font-size: 1.2em;
} 

.tabBlock > .dateTime{
    position: absolute;
    font-size: 0.8em;
    padding-right: 10px;
    bottom: 0;
    right: 0;
   
}


.tabBlockSelected{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 350px;
    height: 100px;
    background-color: #636363;
    display: inline-block;
    border-radius: 10px;
    text-align: left;
    filter: drop-shadow(0 0.5rem 0.7rem #636363)
    
}

.tabBlockSelected > h2{ 
    position: relative;
    top: 0.5em;
    color:#A7FF2D;
    padding-left:10px;
}

.tabBlockSelected > p{
    color: #FFFFFF;
    padding-left: 10px;
    font-size: 1.2em;
} 

.tabBlockSelected > .dateTime{
    position: absolute;
    font-size: 0.8em;
    padding-right: 10px;
    bottom: 0;
    right: 0;
}