<h1 id="claims-heading"> CLAIMS </h1>
<mat-tab-group dynamicHeight animationDuration="1200ms">
    <mat-tab>
        <ng-template mat-tab-label>
          <span matBadge="4" matBadgeOverlap="false"> Pending </span>
        </ng-template>
        <div class="tab-content">
            <app-claims-table></app-claims-table>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <span matBadge="2" matBadgeOverlap="false"> Accepted </span>
        </ng-template>
        <div class="tab-content">
            Accepted
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <span matBadge="8" matBadgeOverlap="false"> Declined </span>
        </ng-template>
        <div class="tab-content">
            Declined 
        </div>
    </mat-tab>
</mat-tab-group>
