$retroGrey: #212121;
$retroGreen: #A7FF2D;

.amplify-heading {
    color: $retroGrey;
    padding: var(--amplify-space-xl) 0 0 var(--amplify-space-xl);
}

.amplify-image{
    padding: 2px; 
    text-align: center; 
    width: 50%;
}